@media screen and (min-width: 720px)
{
    .container {
        margin: 1rem auto;
        display:grid; 
        grid-template-columns: 1fr 1fr ;
        max-width: 1048px;
    }
    .navigation li:first-child { 
        display: none;	
      }
      .navigation li { 
          display: inline-block; 
          margin-right: 1rem;
      }	
      .navigation li a { 
          color: yellow;
      }


}

